header {
    background-color: white;
    height: 85px;
    width: 100%

}
#imge{
    display: flex;
    justify-content: center
}

#image {
    height: 70px;
    margin-top: 10px; 
    width: 400px
}

body {
    background-image: url(gc-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif
}
#container{
    height: 540px;
    width: 50%;
    background-color: #fff;
    margin-top: 50px;
    text-align: center
   
}
.adams{
    padding: 10px;
    width: 80%;
    height: 25px;
    outline: none;    
}
#razaq{
    padding: 10px;
    margin-top: 20px;
    width:80%;
    height: 25px;
    outline: none;
}
#samad{
    outline: none;
}
.beatrice{
    text-decoration: none
}
#far{
    background-color:dodgerblue;
    margin-top: 20px;
    height: 44px;
    width: 70%;
    border: none;
    color: white;
    font-size: 18px;
    outline: none
}
#market{
    height: 480px;
    width: 50%;
    background-color: dodgerblue;
    margin-top: 80px;
    text-align: center;
}
.one{
    display: flex;
    width: 70%;    
    margin: 0 auto;
}
.nafiu{
    margin-top: 50px;
    padding: 10px;
    width: 80%;
    height: 25px;
    border: none;
    outline: none;
}
#short{
    
    background-color: dodgerblue;
    margin-top: 20px;
    height: 50px;
    width: 70%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}
#far:hover{
    background-color: orangered;
}
#short:hover{
    background-color: orangered;
}
#foot{
    background-color: dodgerblue;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.contact{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-weight: bolder
}

@media screen and (max-width: 1070px){
    header{
    width: 100%
    }
    #container{
        margin: 0 auto;
       
    }
    .one{
        display: block;
        margin: 0 auto;
        width: 100%
    }
    #market{
        margin: 0 auto;
        margin-top: 20px
    }
    #foot{
        width: 100%
    }
}

